if contentful.Updates.length > 0
	section.updates-section.container
		.row.text-center
			.col-lg-12
				h3.color--green= contentful.Home[0].updatesSectionTitle
		.row.text-left
			- var i = 0; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<e){
			- var date = new Date(contentful.Updates[i].date);

				.update-item.col-xs-12.clearfix
					a.clearfix(href="#{contentful.Updates[i]._url}")
						p.color--green.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
						h6.weight-700.color--blue.unmarg.float-left.col-xs-10= contentful.Updates[i].title
						div.arrow-right.float-right
						//-img.arrow-right(src="/img/icon/arrow-o-right.png")
						//-i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--green.float-right.col-xs-2
			- i++}

	section.unmarg.unpad
		.container
			.row.text-center
				a.btn.btn-green-white.arrow-after-green-white(href='/updates')
					span.btn__text= contentful.Home[0].updatesButtonText
