extends ../layout

block content

	.content
		section.imagebg.clip.parallax.cover.height-30(data-overlay="10")
			//-.background-image-holder
				img(alt='background', src='#{asset(entry.headerImage)}')
			.signature-container
			.container.pos-vertical-center
				.row.text-left
					.col-sm-12
						h2#updatetitle= entry.title
						//-p#featuredtext.featuredText= entry.titleSubtext
		.container
			.row.unmarg
				.col-sm-12.imagebg.cover.height-40.move-up(style='z-index:1;')
					.background-image-holder
						img(src="#{asset(entry.featuredImage)}")
						
		section#updates-content.unpad--top
			.container
				.row
					.col-sm-12
						- var date = new Date(entry.date);
						p.color--primary-2.small= date.getMonth() +' '+ date.getDate() +' '+ date.getFullYear()
				.row.mt--1
					.col-sm-8
						p= entry.paragraph1
				.row.mt--1
					.col-sm-6
						p= entry.paragraph2
					.col-sm-5.col-sm-offset-1.bg--primary-2.blue-box-pullquote
						for item in entry.blueChecklist
							h6.color--white.unmarg.check-mark-before-white
								!= item
				.row.mt--1
					.col-sm-6
						h6.color--primary-2= entry.paragraph3Title
				.row.mt--1
					.col-sm-6
						p= entry.paragraph3


		
						//-ul
							li
								a#fbshare(target="_blank")
									img(src="/img/social/social-facebook-blue.png")
							li
								a#twittershare(target="_blank")
									img(src="/img/social/social-twitter-blue.png")
							li
								a#inshare(target="_blank")
									img(src="/img/social/social-linkedin-blue.png")

		section.imagebg.parallax.cover.height-80
			.background-image-holder.container
				img(alt='background', src='#{asset(entry.bottomImage)}')
		.container
			.row
				#text-overlap.corner-point-white.col-lg-6.bg--white.clearfix.float-right
					p.small.color--primary-2.col-sm-12= entry.bottomImageText
		
		.container
			.row.mt--1
					.col-sm-8
						h6.color--primary-2= entry.bottomParagraphTitle
			.row.mt--1
					.col-sm-8
						p= entry.bottomParagraph


		section#social-share
			.container
				.row.text-left
					.col-sm-12
						.float-left
							h3.unmarg.color--primary-1= contentful.Social[0].shareHeader
						#share-icons.float-left
							include _social-icons
		include _4updates
		//-section#more-updates
			.container
				.row
					.col-sm-12.text-left
						h3.color--primary-2= contentful.Home[0].updatesSectionTitle
					
					- var i = 0; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<4){
					- var date = new Date(contentful.Updates[i].date);

						.col-md-12.unpad.update-post.bg--white.clearfix
							a(href="#{contentful.Updates[i]._url}")
								p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{date.getMonth() +'/'+ date.getDate() +'/'+ date.getFullYear()}
								h4.color--primary-1.unmarg.float-left.col-xs-10= contentful.Updates[i].title
								div.arrow-right.float-right
								//-i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
					- i++}

	script.
		document.querySelector('#share-icons .facebook').onclick = function(e){
		e.preventDefault(0)
			FB.ui({
				method: 'share',
				mobile_iframe: true,
				href: window.location.href,
			}, function(response){});

		}
		