

footer.corner-point-brown
	.container
		.row.unmarg
			#footer-blue-box.col-md-6.col-xs-12.float-left
				!= contentful.Footer[0].blueBoxContent
				a.btn.btn-white-blue.arrow-after-white-blue(href='#' style="margin-top:25px;")
					span.btn__text= contentful.Footer[0].blueBoxButtonText
			.col-offset-md-1.col-md-5.col-xs-12.float-right.clearfix
				!= contentful.Footer[0].subscribeContent
				input.col-sm-6.col-xs-12(type="text" placeholder="Your email address")
				a.col-sm-5.col-xs-12.col-offset-sm-1.float-right.btn.btn-white-gray.arrow-after-white-gray(href='#' style="margin-top:4px;")
					span.btn__text= contentful.Footer[0].subscribeButtonText
		
		#footer-nav-row.row
			.col-sm-3.col-xs-9.float-center-xs.text-center-xs
				ul.footer-nav
					li
						a(href="/solutions")= contentful.Navigation[0].solutions
					li
						a(href="#")= contentful.Navigation[0].aboutUs
					li
						a(href="#")= contentful.Navigation[0].support
					li
						a(href="/inspiration")= contentful.Navigation[0].inspiration

			.col-sm-3.col-xs-9.float-center-xs.text-center-xs
				ul.footer-nav
					li
						a(href="#")=contentful.Navigation[0].dairyComp
					li
						a(href="#")= contentful.Navigation[0].feedComp
					li
						a(href="#")= contentful.Navigation[0].parlorComp

			.col-sm-3.col-xs-9.float-center-xs.text-center-xs
				ul.footer-nav
					li
						a(href="/updates")= contentful.Navigation[0].updates
					li
						a(href="#")= contentful.Navigation[0].newsletter
					li
						a(href="#")= contentful.Navigation[0].contact

			.col-sm-3.col-xs-9.float-center-xs.text-center-xs
				!= contentful.Footer[0].address
		.row.mt--1.footer-social
			
			#footer-social-icons.col-md-4.col-sm-6
				include _social-icons
				//-ul.text-center(style="line-height: 129px; vertical-align:baseline;")
					li
						a(href="https://twitter.com/VASPRODUCTS?lang=en" target="_blank")
							img(src="/img/social/social-twitter.png")
					li
						a(href="https://www.facebook.com/ValleyAgriculturalSoftware/?ref=br_rs" target="_blank")
							img(src="/img/social/social-facebook.png")
					li
						a(href="https://www.linkedin.com/company-beta/4426837/" target="_blank")
							img(src="/img/social/social-linkedin.png")
			
			.col-md-4.col-sm-12.text-center
				a.pos-relative(href="/" style="top:-15px;")
					img.footer-logo(src="/img/logo/vasLogo-white.png")
			.col-md-4.col-xs-12
				h5.footer-slogan.text-center-sm.unmarg= contentful.Footer[0].footerSlogan
			.col-sm-12
				ul.text-left.color--white.text-center-xs
					li.pad-sm
						a(href="#").small.color--white= contentful.Navigation[0].termsOfUse
					li.pad-sm
						a(href="#").small.color--white= contentful.Navigation[0].privacyAndCookies
					li.pad-sm
						a(href="#").small.color--white= contentful.Navigation[0].colofon
					li.pad-sm
						p.small= contentful.Footer[0].copyright