

footer#footer.corner-point-brown
	.container
		.row.unmarg
			#footer-blue-box.col-md-6.col-xs-12.float-left
				!= contentful.Footer[0].blueBoxContent
				a.btn.btn-white-blue.arrow-after-white-blue.large(href='/support' style="margin-top:25px;")
					span.btn__text= contentful.Footer[0].blueBoxButtonText
			if locals.env != "de"
				//-- alert('#{locals.env}')
				#subscribe.col-md-6.col-xs-12.float-right.clearfix
					!= contentful.Footer[0].subscribeContent
					
					

					#mc_embed_signup
						form#mc-embedded-subscribe-form.validate(action='//vas.us14.list-manage.com/subscribe/post?u=f0f106248a8a0df7906dc9354&id=779c844d05', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='' data-error="#{contentful.Contact[0].sendErrorMessage}" data-success="#{contentful.Footer[0].subscribeSuccess}")
							#mc_embed_signup_scroll
								#mce-responses.clear
									#mce-error-response.response(style='display:none')
									#mce-success-response.response(style='display:none')
								//- real people should not fill this in and expect good things - do not remove this or risk form bot signups
								div(style='position: absolute; left: -5000px;', aria-hidden='true')
									input(type='text', name='b_f0f106248a8a0df7906dc9354_779c844d05', tabindex='-1', value='')


								.mc-field-group.clearfix
									//-label(for='mce-EMAIL') Email Address 
									input#mce-EMAIL.required.email.col-sm-6.col-xs-12.large(type='email', value='', name='EMAIL' placeholder="#{contentful.Footer[0].subscribePlaceholder}")
								
								
									button#mc-embedded-subscribe.col-sm-5.col-xs-12.col-offset-sm-1.float-left-xs.float-right.btn.btn-white-gray.arrow-after-white-gray.large.unmarg(type='submit', value='Subscribe', name='subscribe')
										span.btn__text= contentful.Footer[0].subscribeButtonText
		
		#footer-nav-row.row
			.col-sm-3.col-xs-6.text-center-xs
				ul.footer-nav
					//-li
						a(href="#")= contentful.Navigation[0].solutions
					li
						a(href="/about")= contentful.Navigation[0].aboutUs
					li
						a(href="/support")= contentful.Navigation[0].support
					li
						a(href="/inspiration")= contentful.Navigation[0].inspiration

			.col-sm-3.col-xs-6.text-center-xs
				ul.footer-nav
					li
						a(href="/updates/dairycomp")=contentful.Navigation[0].dairyComp
					li
						a(href="/updates/feedcomp")= contentful.Navigation[0].feedComp
					li
						a(href="/updates/parlorcomp")= contentful.Navigation[0].parlorComp

			.col-sm-3.col-xs-12.text-center-xs
				ul.footer-nav
					li
						a(href="/updates")= contentful.Navigation[0].updates
					//-li
						a(href="#")= contentful.Navigation[0].newsletter
					li
						a(href="/contact")= contentful.Navigation[0].contact

			.col-sm-3.col-xs-12.text-center-xs
				!= contentful.Footer[0].address
		.row.mt--2.footer-social
			
			#footer-social-icons.col-md-4.col-sm-12.col-xs-12
				include _social-icons

			.col-md-4.col-xs-12.text-center
				a.pos-relative(href="/" style="top:-15px;")
					img.footer-logo(src="/img/logo/vasLogo-white.png")
			.col-md-4.col-xs-12
				h5.footer-slogan.text-center-sm.text-center-xs.text-center-md= contentful.Footer[0].footerSlogan
			.col-xs-12
				ul.text-left.color--white.text-center-xs
					li.pad-sm
						a(href="/termsOfUse").small.color--white= contentful.Navigation[0].termsOfUse
					li.pad-sm
						a(href="/privacy").small.color--white= contentful.Navigation[0].privacyAndCookies
					li.pad-sm
						a(href="/VAS_EULA.pdf").small.color--white= contentful.Navigation[0].eula
					//-li.pad-sm
						a(href="#").small.color--white= contentful.Navigation[0].colofon
					li.pad-sm
						p.small.color--white= contentful.Footer[0].copyright
