

footer#footer.corner-point-brown
	.container
		.row.unmarg
			#footer-blue-box.col-md-6.col-xs-12.float-left
				!= contentful.Footer[0].blueBoxContent
				a.btn.btn-white-blue.arrow-after-white-blue.large(href='/support' style="margin-top:25px;")
					span.btn__text= contentful.Footer[0].blueBoxButtonText
			if locals.env != "de"
				#subscribe.col-md-6.col-xs-12.float-right.clearfix
					!= contentful.Footer[0].subscribeContent
					form#subscribe-form2.form-email.custom-script(data-error="#{contentful.Contact[0].sendErrorMessage}", name="Subscribe-bot", action='#{locale}/thankyou' style="display:none;")
							//- netlify-honeypot="bot-field",
							//- .col-sm-12.hidden
							//- 	label don't fill this out:
							//- 	input(type='text', name='bot-field')
							.col-sm-6
								label= contentful.Contact[0].yourPhone
								input.phone(type='text', name='subject')
							.col-sm-12
								label= contentful.Contact[0].yourMessage
								textarea.message.validate-required(type='text', name='message')
							.float-right(style="padding-right:15px;")
								button.btn.btn-blue-white.arrow-after-blue-white(type='submit' style="position:relative;z-index:9;")
									span.btn__text= contentful.Contact[0].sendButtonText
					form#subscribe-form.form-email.custom-script(data-error="#{contentful.Contact[0].sendErrorMessage}", name="email-subscribe-#{contentful.Contact[0].locale}", action='#{locale}/thankyou', netlify netlify-honeypot="website")
						//- netlify-honeypot="bot-field",
						.col-sm-12.hidden
							label don't fill this out:
							input(type='text', name='website')
						.col-sm-12.unpad
							//-label(placeholder="contentful.Contact[0].yourEmail")= contentful.Contact[0].yourEmail
							input.email.validate-required.validate-email(type='text', name='email' placeholder="#{contentful.Contact[0].yourEmail}")
						.float-left(style="padding-right:15px;")
							button.btn.btn-white-gray.arrow-after-white-gray(type='submit' style="position:relative;z-index:9;")
								span.btn__text Subscribe
			else if locals.env === "de"
				#subscribe.col-md-6.col-xs-12.float-right.clearfix
					// Start of signup
					script(language='javascript').
						function validate_signup(frm) {
							var emailAddress = frm.Email.value;
							var errorString = '';
							if (emailAddress == '' || emailAddress.indexOf('@') == -1) {
								errorString = 'Please enter your email address';
							}
							var isError = false;
							if (errorString.length > 0)
								isError = true;
								if (isError)
									alert(errorString);
									return !isError;
								}

					form#signup(name='signup', action='http://dmtrk.net/signup.ashx', method='post', onsubmit='return validate_signup(this)')
						p.color--white
							| Melden Sie sich noch heute für unseren kostenlosen Newsletter an, um monatlich Tipps und Informationen zu DairyComp und zum Herdenmanagement zu erhalten.
						input(type='hidden', name='addressbookid', value='4177455')
						//- UserID - required field, do not remove
						input(type='hidden', name='userid', value='127796')
						//- ReturnURL - when the user hits submit, they'll get sent here
						input(type='hidden', name='ReturnURL', value='http://web.vas.com/de/thankyou-subscribe')
						//- Email - the user's email address
						table
							tr
								td.color--white Email
								td
									input(type='text', name='Email')
							tr
								td.color--white Vorname
								td
									input.text(type='text', name='cd_FIRSTNAME')
							tr
								td.color--white Nachname
								td
									input.text(type='text', name='cd_LASTNAME')
						button.btn.btn-white-gray.arrow-after-white-gray.large(type='Submit', name='Submit', value='Anmelden')
							span.btn__text Anmelden
					// End of signup

		#footer-nav-row.row.mt--3
			.col-sm-3.col-xs-6.text-center-xs
				ul.footer-nav
					//-li
						a(href="#")= contentful.Navigation[0].solutions
					li
						a(href="/about")= contentful.Navigation[0].aboutUs
					li
						a(href="/support")= contentful.Navigation[0].support
					li
						a(href="/inspiration")= contentful.Navigation[0].inspiration

			.col-sm-3.col-xs-6.text-center-xs
				ul.footer-nav
					li
						a(href="/updates/dairycomp")=contentful.Navigation[0].dairyComp
					li
						a(href="/updates/feedcomp")= contentful.Navigation[0].feedComp
					li
						a(href="/updates/parlorcomp")= contentful.Navigation[0].parlorComp

			.col-sm-3.col-xs-12.text-center-xs
				ul.footer-nav
					li
						a(href="/articles")= contentful.Navigation[0].updates
					//-li
						a(href="#")= contentful.Navigation[0].newsletter
					li
						a(href="/contact")= contentful.Navigation[0].contact

			.col-sm-3.col-xs-12.text-center-xs
				!= contentful.Footer[0].address
		.row.mt--2.footer-social
			
			#footer-social-icons.col-md-4.col-sm-12.col-xs-12
				include _social-icons

			.col-md-4.col-xs-12.text-center
				a.pos-relative(href="/" style="top:-15px;")
					img.footer-logo(src="/img/logo/vasLogo-white.png")
			.col-md-4.col-xs-12
				ul#sister-cos
					li
						a(href="http://www.urus.org/" target="_blank")
							img(src="/img/logo/urus-white.png")
					li
						a(href="http://www.saskatooncolostrum.com/english" target="_blank")
							img(src="/img/logo/sccl-white.png")
					li
						a(href="http://map.altagenetics.com/" target="_blank")
							img(src="/img/logo/alta-white.png")
					li.connect-summit
						a(href="http://connectsummit.org/" target="_blank")
							img(src="/img/logo/connect-white.png")
			.col-xs-12
				ul.text-left.color--white.text-center-xs
					li.pad-sm
						a(href="/termsOfUse").small.color--white= contentful.Navigation[0].termsOfUse
					li.pad-sm
						a(href="/privacy").small.color--white= contentful.Navigation[0].privacyAndCookies
					li.pad-sm
						a(href="/VAS_EULA.pdf").small.color--white= contentful.Navigation[0].eula
					//-li.pad-sm
						a(href="#").small.color--white= contentful.Navigation[0].colofon
					li.pad-sm
						p.small.color--white= contentful.Footer[0].copyright
