#menu-overlay-toggle.custom-toggled-class(data-toggle-class='#menu-overlay-toggle,#menu1,#language-dropdown;custom-toggled-class')
header
	.nav-container(style="height:100%;")
		.visible-xs(style="height:100%;")
			.container(style="height:100%;")
				.row(style="height:100%;")
					.float-left(style="height:100%;")
						a.logo.logo-mobile(href='/')
							img.logo(alt='logo', src='/img/logo/vasLogo-color.png')
							
					.float-right.col-xs-9.col-sm-10.text-right(style="height:100%;")
						a.hamburger-toggle.toggle-custom(href='#', data-toggle-class='#menu-overlay-toggle,#menu1,#language-dropdown;custom-toggled-class')
							i.icon.icon--sm.stack-interface.stack-menu
				// end of row
			// end of container
		// end bar
		nav#menu1.custom-toggled-class
			.container(style="padding:0px;")
				a(href='/').float-left.hidden-xs.logo
					img.logo(alt='logo', src='/img/logo/vasLogo-color.png')
				

				#mega-menu.row
					.col-sm-11.col-xs-12.text-right.text-right-xs.float-right.float-right-xs.bg--white
						.bar__module
							ul.menu-horizontal.text-right.text-left-xs
								//-li
									a(href="#")= contentful.Navigation[0].solutions
								li
									a(href="/about")= contentful.Navigation[0].aboutUs
								li
									a(href="/support")= contentful.Navigation[0].support
								li
									a(href="/inspiration")= contentful.Navigation[0].inspiration

				
				#mini-menu.row.small
					.col-sm-11.col-xs-12.text-right.float-right.text-center-xs.float-right-xs.bg--white
						.bar__module
							ul.menu-horizontal.text-right.text-left-xs
								if locals.env === 'en'
									li
										a(href="/jobs") Careers
									li
										a(href="https://www.halfhartedoutfitters.com/vas" target="_blank") VAS Store
								li.dropdown
									span.dropdown__trigger= contentful.Navigation[0].updates
									.dropdown__container
										.container
											.row
												.custom-toggled-class.col-xs-12.col-sm-5.col-md-3.dropdown__content.dropdown__content--lg
													.col-xs-12.text-left
														ul
															li.dropdown-item
																a(href="/articles")= contentful.Home[0].articles
															if locals.env === 'en'
																li.dropdown-item
																	a(href="/updates")= contentful.Home[0].updatesSectionTitle
															//- li
															//- 	a.language(href="/de")= contentful.Navigation[0].german
															//- li
															//- 	a.language(href="/ru" style="font-weight:500;")= contentful.Navigation[0].russian
								//-li
									a(href="#")= contentful.Navigation[0].newsletter
								li.dropdown
									span.dropdown__trigger= contentful.Navigation[0].education
									.dropdown__container
										.container
											.row
												.custom-toggled-class.col-xs-12.col-sm-5.col-md-3.dropdown__content.dropdown__content--lg
													.col-xs-12.text-left
														ul
															//-li.dropdown-item
																a(href="/training" target="_blank") Training Courses
															li.dropdown-item
																a(href="/articles#tipOfTheMonth")= contentful.Home[0].tipOfTheMonth
								li
									a(href="/contact")= contentful.Navigation[0].contact
								li.dropdown.language-dropdown
									span.dropdown__trigger 
										img(src="/img/icon/world.png" style="height:20px; margin-bottom: 7px;")
										!= contentful.Navigation[0].language
									.dropdown__container
										.container
											.row
												.box-shadow.custom-toggled-class.col-xs-12.col-sm-5.col-md-3.dropdown__content.dropdown__content--lg
													.col-xs-12.text-left
														ul
															li
																a.language(href="/")= contentful.Navigation[0].english
															li
																a.language(href="/es")= contentful.Navigation[0].spanish
															li
																a.language(href="/de")= contentful.Navigation[0].german
															li
																a.language(href="/ru" style="font-weight:500;")= contentful.Navigation[0].russian
