extends ../layout

block head
	meta(property="og:image" content="#{asset(entry.featuredImage)}")
	meta#page-title(property="og:title" content= entry.title)
	meta#page-description(property="og:description" content= entry.featuredText)

block content
	#blog-content.content
		section#hero.clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(entry.featuredImage)}')
			.signature-container
			.container.pos-vertical-center
				.row.text-left
					.col-sm-12
						h1#updatetitle= entry.title
						h6#featuredtext.featuredText= entry.featuredText
		section#updates-content
			- var date = new Date(entry.date);
			.container
				.row
					.col-sm-12
						p.color--green= entry.location + ' - ' + (date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()
				if entry.body != undefined
					.row
						.col-sm-12.col-md-10.col-lg-8
							.font--corbel.weight-normal.md!= md(entry.body)
				
				if entry.textAreas != undefined
					for item in entry.textAreas
						if item.fields.images != undefined
							.row
								.col-sm-12.unpad
									.masonry
											.masonry__container
												for image in item.fields.images
													- var imgWidth = item.fields.imageWidth != undefined ? item.fields.imageWidth : 'col-sm-12'
													.masonry__item.col-xs-12(class="#{imgWidth}")
														a(href='#{asset(image)}', data-lightbox="Gallery 1")
															img(src="#{asset(image)}")
															if (item.fields.displayImageTitle === 'yes')
																span.block.small.color--blue= image.fields.title
										
						if item.fields.subhead != undefined
							.row.mt--1
								.col-sm-12.col-md-10.col-lg-8
									h6.color--green= item.fields.subhead
						if item.fields.body != undefined
							.row
								.col-sm-12.col-md-10.col-lg-8
									.md!= md(item.fields.body)
						if item.fields.videoIframe != undefined
							.row
								.col-sm-12
									!= item.fields.videoIframe

		if entry.videoEmbedIframe != undefined
			section
				.container
					.row
						.col-sm-12
							!= entry.videoEmbedIframe

		if entry.photoGallery != undefined
			section#image-gallery
				.container
					.row
						.col-sm-12.unpad
							.masonry
									.masonry__container
										for image in entry.photoGallery
											.masonry__item.col-xs-6.col-sm-3
												a(href='#{asset(image)}', data-lightbox="Gallery")
													img(src="#{asset(image)}")
												span.block.small.color--blue= image.fields.title
										
					
		section#social-share.mb--2
			.container
				.row.text-left
					.col-sm-12
						.float-left
							h6.unmarg.color--blue= contentful.Social[0].shareHeader
						#share-icons.float-left
							include _social-icons

		include _4updates
		
	script.
		document.querySelector('#share-icons .facebook').onclick = function(e){
		e.preventDefault(0)
			FB.ui({
				method: 'share',
				mobile_iframe: true,
				href: window.location.href,
			}, function(response){});

		}
		
