extends ../layout

block head
	<meta property="og:image" content="#{asset(entry.featuredImage)}" />

block content
	.content
		section.imagebg.parallax.cover.height-30(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(entry.featuredImage)}')
			.container.pos-vertical-center
				.row.text-center
					.col-sm-12
						h2= entry.title
						p.featuredText= entry.featuredText
		section#updates-content
			.container
				.row
					!= entry.mainContent


		section#social-share
			.container
				.row
					.col-sm-12
						ul.text-center
							li
								a#fbshare
									img(src="/img/social/social-facebook-blue.png")

		section#more-updates
			.container
				.row
					.col-sm-12.text-center
						h3.color--primary-2= contentful.Home[0].updatesSectionTitle
					
					- var i = 0; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<4){
					- var date = new Date(contentful.Updates[i].date);

						.col-md-12.update-post.bg--white.clearfix
							a(href="#{contentful.Updates[i]._url}")
								p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{date.getMonth() +'/'+ date.getDate() +'/'+ date.getFullYear()}
								h4.color--primary-1.unmarg.float-left.col-xs-10= contentful.Updates[i].title
								i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
					- i++}

	script.
		document.getElementById('fbshare').onclick = function(e){
		e.preventDefault(0)
			FB.ui({
				method: 'share',
				mobile_iframe: true,
				href: window.location.href,
			}, function(response){});

		}
		