extends layout

block content
	.content
		section.imagebg.clip.parallax.cover.height-80
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Home[0].headerBackground)}')
			.container
				.row
					.col-lg-4
						h1= contentful.Home[0].headerLargeText
						h5= contentful.Home[0].headerSubtext
						a.btn.btn-white-green.arrow-after-white-green(href='#')
							span.btn__text= contentful.Home[0].headerButtonText
							
		.updates-section.container
			.row.pos-relative
				
				- var date = new Date(contentful.Updates[0].date);
				if  contentful.Updates.length === 1
					a.clearfix.border-bottom(href="#{contentful.Updates[0]._url}")
						.col-md-12.imagebg.cover.move-up(style="min-height:500px;")
							.background-image-holder
								img(src="#{asset(contentful.Updates[0].featuredImage)}")
						.col-sm-12.update-item.move-up.clearfix(style="bottom:-10px;")
								p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
								h4.color--primary-1.unmarg.float-left.col-xs-12= contentful.Updates[0].title
								p.col-xs-12.color--primary-1= contentful.Updates[0].featuredText
								.col-xs-12
									div.arrow-right.float-right
							

				
				else 
					.col-md-8.unpad.move-up
						a#update-move-up.clearfix(href="#{contentful.Updates[0]._url}")
							.col-xs-12.imagebg.cover(style="min-height:400px; padding: 0;")
								.background-image-holder
									img(src="#{asset(contentful.Updates[0].featuredImage)}")
							.col-xs-12.update-item.clearfix.border-bottom
									p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
									h4.color--primary-1.unmarg.float-left.col-xs-12= contentful.Updates[0].title
									p.col-xs-12.color--primary-1= contentful.Updates[0].featuredText
									.col-xs-12
										div.arrow-right.float-right(style="height:40px; width:40px;")
								
				

				
				- var i = 1; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<e){
				- var date = new Date(contentful.Updates[i].date);
					.col-md-4.update-item.bg--white.clearfix.border-bottom
						a(href="#{contentful.Updates[i]._url}")
							p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
							h6.color--primary-1.unmarg.float-left.col-xs-10.weight-700= contentful.Updates[i].title
							.col-xs-12
								div.arrow-right.float-right
							
				- i++}
				
				
	
		#video-teaser.container
			.row
				.col-lg-12(style="padding:0px;")
					.imagebg.cover.height-40
						.background-image-holder
							img(alt='image', src='#{asset(contentful.Home[0].featuredVideoCover)}')
						.container.pos-vertical-center.text-center
							.modal-instance
								.video-play-icon.modal-trigger.box-shadow
								.modal-container
									.modal-content.bg-dark(data-width='60%', data-height='60%')
										!= contentful.Home[0].featuredVideo
				#overlap-video.corner-point-blue.col-md-6.bg--primary-1.float-right
					h6.color--white= contentful.Home[0].featuredVideoDescription
					
					.modal-instance.float-right
						a.btn.btn-white-blue.modal-trigger.arrow-after-white-blue
							span.btn__text= contentful.Home[0].featuredVideoButtonText
						.modal-container
							.modal-content.bg-dark(data-width='60%', data-height='60%')
								!= contentful.Home[0].featuredVideo
					//-a.btn.btn--primary.type--uppercase.float-right(href='#')
						span.btn__text= contentful.Home[0].featuredVideoButtonText
								
		section#products.container
			.row.text-center
				.col-lg-12
					h3.color--primary-2= contentful.Home[0].productSectionTitle
			#products-container.row.text-center
				for product in contentful.HomeProducts
					.col-md-4.col-xs-12.float-center-sm.unpad.product-post
						.img-clip
							img(src="#{asset(product.photo)}")
						div.product-content.text-left
							h3.color--primary-1= product.title
							for item in product.list
								p.color--primary-1.unmarg.check-mark-before
									!= item
							//-a.mt--1.btn.btn-blue-white.modal-trigger
								span.btn__text= contentful.Home[0].productDetails
				

				//-.col-md-4.col-xs-9.float-center-sm
					img.img-clip(src="/img/home/dcomp.jpg")
					div.pad-sm.text-left
						h4.color--primary-1.
							DairyComp
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Fastest program for recording
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Simple entry system
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Flexible and customizable
						p.color--primary-1.unmarg #[i.fa.fa-check.color--primary-2]    Connect with on-farm systems
				
		include partials/_4updates
		