extends layout

block content
	//-.p= JSON.stringify(contentful.Home[0])
	
	.content
		section.pos-relative.img-clip.height-70.unpad(data-overlay="7")
			.signature-container
			.slider(data-arrows='false', data-paging='false')
				ul.slides
					for image in contentful.Home[0].headerBackgrounds
						li.unpad.imagebg.parallax
							.background-image-holder
								img(src="#{asset(image)}")
					
			.container.pos-absolute(style="padding-top:8vh;top:0;z-index:1;")
				.row
					.col-lg-6
						h1.color--white= contentful.Home[0].headerLargeText
						h5.color--white= contentful.Home[0].headerSubtext
						a.btn.btn-white-green.arrow-after-white-green.large(href='#')
							span.btn__text= contentful.Home[0].headerButtonText


		//-section.imagebg.clip.parallax.cover.height-80
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Home[0].headerBackground)}')
			.container
				.row
					.col-lg-4
						h1= contentful.Home[0].headerLargeText
						h5= contentful.Home[0].headerSubtext
						a.btn.btn-white-green.arrow-after-white-green(href='#')
							span.btn__text= contentful.Home[0].headerButtonText
							
		#updates-section.updates-section.container
			.row.pos-relative
				
				- var date = new Date(contentful.Updates[0].date);
				if  contentful.Updates.length === 1
					.col-xs-12.unpad.move-up.main-update-article
						a.clearfix.border-bottom(href="#{contentful.Updates[0]._url}")
							.col-md-12.imagebg.cover.move-up(style="min-height:500px;")
								.background-image-holder
									img(src="#{asset(contentful.Updates[0].featuredImage)}")
							.col-sm-12.update-item.move-up.clearfix(style="bottom:-10px;")
									p.color--green.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
									h4.color--blue.float-left.col-xs-12= contentful.Updates[0].title
									p.col-xs-12.color--blue= contentful.Updates[0].featuredText
									.col-xs-12
										div.arrow-right.float-right
							

				
				else 
					.col-md-8.unpad.move-up.main-update-article
						a#update-move-up.clearfix(href="#{contentful.Updates[0]._url}")
							.col-xs-12.imagebg.cover(style="min-height:400px; padding: 0;")
								.background-image-holder
									img(src="#{asset(contentful.Updates[0].featuredImage)}")
							.col-xs-12.update-item.clearfix.border-bottom
									p.color--green.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
									h4.color--blue.float-left.col-xs-12= contentful.Updates[0].title
									p.col-xs-12.color--blue= contentful.Updates[0].featuredText
									.col-xs-12
										div.arrow-right.float-right(style="height:40px; width:40px;")
								
				

				
				- var i = 1; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<e){
				- var date = new Date(contentful.Updates[i].date);
					.col-md-4.update-item.bg--white.clearfix.border-bottom
						a(href="#{contentful.Updates[i]._url}")
							p.color--green.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
							h6.color--blue.unmarg.float-left.col-xs-10.weight-700= contentful.Updates[i].title
							.col-xs-12
								div.arrow-right.float-right
							
				- i++}
				
				
	
		#video-teaser.container
			.row
				.col-lg-12(style="padding:0px;")
					.imagebg.cover.height-40
						.background-image-holder
							img(alt='image', src='#{asset(contentful.Home[0].featuredVideoCover)}')
						
						.modal-instance.play-button-fix
							.video-play-icon.modal-trigger.box-shadow
							.modal-container
								.custom-close-button.modal-close
									p.color--white.
										Close
								.modal-content.bg-dark(data-width='60%', data-height='60%')
									!= contentful.Home[0].featuredVideo
				#overlap-video.corner-point-green.col-md-6.bg--gradient.float-right
					h6.color--white= contentful.Home[0].featuredVideoDescription
					
					.modal-instance.float-right
						a.btn.btn-white-green.modal-trigger.arrow-after-white-green
							span.btn__text= contentful.Home[0].featuredVideoButtonText
						.modal-container
							.custom-close-button.modal-close
									p.color--white.
										Close
							.modal-content.bg-dark(data-width='60%', data-height='60%')
								!= contentful.Home[0].featuredVideo
								
		section#products.container
			.row.text-center
				.col-lg-12
					h3.color--green= contentful.Home[0].productSectionTitle
			#products-container.row.text-center
				for product in contentful.HomeProducts
					.col-md-4.col-xs-12.float-center-sm.unpad.product-post
						.img-clip
							img(src="#{asset(product.photo)}")
						div.product-content.text-left
							h3.color--blue= product.title
							for item in product.list
								p.color--blue.check-mark-before
									!= item
							a.mt--1.btn.btn-blue-white(href="#{product.pageUrl}")
								span.btn__text= contentful.Home[0].productDetails
				

				//-.col-md-4.col-xs-9.float-center-sm
					img.img-clip(src="/img/home/dcomp.jpg")
					div.pad-sm.text-left
						h4.color--blue.
							DairyComp
						p.color--blue.unmarg #[i.fa.fa-check.color--green]    Fastest program for recording
						p.color--blue.unmarg #[i.fa.fa-check.color--green]    Simple entry system
						p.color--blue.unmarg #[i.fa.fa-check.color--green]    Flexible and customizable
						p.color--blue.unmarg #[i.fa.fa-check.color--green]    Connect with on-farm systems
				
		include partials/_4updates
		