extends layout

block content
	.content
		section#hero.clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.InspirationPage[0].headerImage)}')
			.signature-container
			.container
				.row
					.col-lg-6
						h1= contentful.InspirationPage[0].headerLargeText
						h5= contentful.InspirationPage[0].headerSubtext
						//-a.btn.btn-white-green.type--uppercase.arrow-after-white-green(href='#')
							span.btn__text= contentful.Home[0].headerButtonText
		#inspiration-posts.container
			.masonry
				.masonry__container
					- var i = 0; var e = (contentful.InspirationUpdates.length >=4) ? 4 : contentful.InspirationUpdates.length; while (i<e){
					- var date = new Date(contentful.InspirationUpdates[i].date);
						.masonry__item.inspiration-post.update-post.bg--white.clearfix.border-bottom
								a(href="#{contentful.InspirationUpdates[i]._url}")
									.img-clip
										img(src="#{asset(contentful.InspirationUpdates[i].featuredImage)}")
									.masonry-content.clearfix
										p.color--green.small.unmarg.float-left.col-sm-12.uppercase= contentful.InspirationUpdates[i].location +' '+ (date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()
										h3.color--blue.float-left.col-sm-12= contentful.InspirationUpdates[i].title
										p.color--default.col-xs-10= contentful.InspirationUpdates[i].featuredText
										.col-xs-12
											a.float-right.btn.btn-circle.btn-blue-white(href="#{contentful.InspirationUpdates[i]._url}")
												span.btn__text= contentful.Home[0].productDetails
												img.arrow-right(src="/img/icon/arrow-right-blue.png")
											//-img.arrow-right(src="/img/icon/arrow-o-right.png")
						- i++}
					
		

		section.imagebg.parallax.cover.height-80
			.background-image-holder
				img(alt='background', src='#{asset(contentful.InspirationPage[0].bottomImage)}')
		.container
			.row
				#text-overlap.corner-point-green.col-lg-8.bg--gradient.clearfix.float-right
					h6.color--white.col-sm-12= contentful.InspirationPage[0].bottomImageText
					p.small.col-sm-6.color--white= contentful.InspirationPage[0].bottomImageTextName
					div.col-sm-6.text-center

						
								
		include partials/_4updates
		
