extends layout

block content
	.content
		section.imagebg.parallax.cover.height-80(data-overlay="5")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Home[0].headerBackground)}')
			.container
				.row
					.col-lg-4
						h2= contentful.Home[0].headerLargeText
						p= contentful.Home[0].headerSubtext
						a.btn.btn--primary.type--uppercase(href='#')
							span.btn__text= contentful.Home[0].headerButtonText
		#inspiration-posts.container
			.row.imagebg.cover
				- var i = 0; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<e){
				- var date = new Date(contentful.Updates[i].date);
					.inspiration-post.update-post.bg--white.clearfix
						a(href="#{contentful.Updates[i]._url}")
							img(src="#{asset(contentful.Updates[i].featuredImage)}")
							p.color--primary-2.small.unmarg.float-left.col-sm-12 Update #{date.getMonth() +'/'+ date.getDate() +'/'+ date.getFullYear()}
							h4.color--primary-1.unmarg.float-left.col-sm-12= contentful.Updates[i].title
							p.col-sm-10= contentful.Updates[i].featuredText
							i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				- i++}
				//-.col-md-8.hidden-sm.hidden-xs
				//-.col-md-4.update-post.border-bottom.bg--white.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				//-.col-md-8.hidden-sm.hidden-xs
				//-.col-md-4.update-post.border-bottom.bg--white.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				//-.col-md-8.hidden-sm.hidden-xs
				//-.col-md-4.update-post.border-bottom.bg--white.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
		

		.imagebg.parallax.cover.height-80(data-overlay="5")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Home[0].headerBackground)}')
		.container
			.row
				#text-overlap.col-lg-6.bg--gradient.clearfix.float-right
					p.color--white.col-sm-12.
						The most interesting part of the challenge is how to control the fast growing data streams available to us farmers
					p.small.col-sm-6.color--primary James Reed, Farmer
					div.col-sm-6.text-center
						a.btn.btn--primary.type--uppercase(href='#')
							span.btn__text Read my Story
						
								
		
		section#updates.container
			.row.text-center
				.col-lg-12
					h3.color--primary-2= contentful.Home[0].updatesSectionTitle
			.row.text-left
				- var i = 0; var e = (contentful.Updates.length >=4) ? 4 : contentful.Updates.length; while (i<4){
				- var date = new Date(contentful.Updates[i].date);
					.col-md-12.col-sm-12.clearfix
						a(href="#{contentful.Updates[i]._url}")
							p.color--primary-2.small.unmarg.float-left.col-xs-12 Update #{date.getMonth() +'/'+ date.getDate() +'/'+ date.getFullYear()}
							h4.color--primary-1.unmarg.float-left.col-xs-10= contentful.Updates[i].title
							i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				- i++}
				//-.col-md-6.col-sm-12.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				//-.col-md-6.col-sm-12.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				//-.col-md-6.col-sm-12.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
				//-.col-md-6.col-sm-12.clearfix
					a(href="#")
						p.color--primary-2.small.unmarg.float-left.col-xs-12 Update 2/3/2017
						h4.color--primary-1.unmarg.float-left.col-xs-10 Visit VAS at the 2017 World Dairy Expo!
						i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--primary-2.float-right.col-xs-2
			.row.text-center(style="margin-top:50px")
				a.btn.btn--primary-1.type--uppercase(href='#')
					span.btn__text= contentful.Home[0].updatesButtonText