extends layout

block content
	.content
		section#hero.img-clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.NewsletterPage[0].headerBackground)}')
			.signature-container
			.container.pos-vertical-center
				.row
					.col-sm-12
						h2#updatetitle= contentful.NewsletterPage[0].title


		if contentful.NewsletterPosts.length > 0
			section.updates-section.masonry
				.container
					.row
						.col-sm-12.text-center
							h3.color--green= contentful.NewsletterPage[0].title
					
					.row.masonry__container
						for item in contentful.NewsletterPosts
							- var date2 = new Date(item.date);
							.col-xs-12.update-item.bg--white.clearfix.masonry__item
								a(href="#{item._url}")
									p.color--green.small.unmarg.float-left.col-xs-12= (date2.getMonth()+1) +' '+ date2.getDate() +' '+ date2.getFullYear()
									h6.weight-700.color--blue.unmarg.float-left.col-xs-10= item.title
									div.arrow-right.float-right
						//- - var i = 0; var e = contentful.NewsletterPosts.length; while (i<e){
						//- - var date2 = new Date(contentful.NewsletterPosts[i].date);
						//- 	.col-xs-12.update-item.bg--white.clearfix.masonry__item
						//- 		a(href="#{contentful.NewsletterPosts[i]._url}")
						//- 			p.color--green.small.unmarg.float-left.col-xs-12= (date2.getMonth()+1) +' '+ date2.getDate() +' '+ date2.getFullYear()
						//- 			h6.weight-700.color--blue.unmarg.float-left.col-xs-10= contentful.NewsletterPosts[i].title
						//- 			div.arrow-right.float-right
						//- - i++}
