extends layout

block content
	.content
		section#hero.img-clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				img(alt='background', src='#{asset(contentful.Support[0].headerBackground)}')
			.signature-container
			.container.pos-vertical-center
				.row
					.col-sm-12
						h2#updatetitle= contentful.Support[0].headerTitle


		section
			.container
				.row
					.col-sm-8
						h3.color--green= contentful.Support[0].recentUpdates
						for item in contentful.Support[0].supportUpdates
							h6.color--blue= item.fields.title
							!= item.fields.content
		section
			.container
				.row
					.col-sm-8
						h3.color--green= contentful.Support[0].publicDownloads
				if contentful.Support[0].publicDownloadsItems != undefined
					.row
						for item in contentful.Support[0].publicDownloadsItems
							.col-sm-12
								a.btn.btn-blue-white.download-before-blue-white(href='#{asset(item.fields.file)}')
									span.btn__text= item.fields.title
											
					