extends layout

block content
	.content
		section#hero.img-clip.imagebg.parallax.cover.height-70(data-overlay="7")
			.background-image-holder
				if contentful.UpdatesPage[0].headerBackground != undefined
					img(alt='background', src='#{asset(contentful.UpdatesPage[0].headerBackground)}')
			.signature-container
			.container.pos-vertical-center
				.row
					.col-sm-12
						if contentful.Home[0].updatesSectionTitle != undefined
							h2#updatetitle= contentful.Home[0].updatesSectionTitle


		if contentful.Updates.length > 0
			section.updates-section.masonry
				.container
					
										

						
					
					.row
						.col-sm-12.text-center
							if contentful.Home[0].updatesSectionTitle != undefined
								h3.color--green= contentful.Home[0].updatesSectionTitle
					if contentful.BlogCategories.length > 0
						.row.masonry-filter-container.text-center
							.masonry-filter-holder.text-center
								.masonry__filters.text-center(data-filter-all-text='All Categories')
									ul
										li.active(data-masonry-filter='*') All Categories
										for item in contentful.BlogCategories
											li.active(data-masonry-filter='#{item.slug}')= item.title
					.row.masonry__container
						- var i = 0; var e = contentful.Updates.length; while (i<e){
						- var date = new Date(contentful.Updates[i].date);
							- var cats = ''
								if contentful.Updates[i].category != undefined
									for item in contentful.Updates[i].category
										- cats+= ' filter-'+item.fields.slug
								.col-xs-12.update-item.bg--white.clearfix.masonry__item(class='#{cats}')
									a(href="#{contentful.Updates[i]._url}")
										p.color--green.small.unmarg.float-left.col-xs-12= contentful.Updates[i].location + ' ' + (date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()
										h6.weight-700.color--blue.unmarg.float-left.col-xs-10= contentful.Updates[i].title
										div.arrow-right.float-right
										//-img.arrow-right(src="/img/icon/arrow-o-right.png")
										//-i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--green.float-right.col-xs-2
						- i++}

		if contentful.TOTM.length > 0
			section.updates-section
				.container
					.row
						.col-sm-12.text-center
							iv contentful.Home[0].tipOfTheMonth != undefined
								h3.color--green= contentful.Home[0].tipOfTheMonth
						
						- var i = 0; var e = contentful.TOTM.length; while (i<e){
						- var date = new Date(contentful.TOTM[i].date);

							.col-xs-12.update-item.bg--white.clearfix
								a(href="#{contentful.TOTM[i]._url}")
									p.color--green.small.unmarg.float-left.col-xs-12 Update #{(date.getMonth()+1) +' '+ date.getDate() +' '+ date.getFullYear()}
									h6.weight-700.color--blue.unmarg.float-left.col-xs-10= contentful.TOTM[i].title
									div.arrow-right.float-right
									//-img.arrow-right(src="/img/icon/arrow-o-right.png")
									//-i.icon.icon--sm.fa.fa-arrow-circle-o-right.color--green.float-right.col-xs-2
						- i++}
